name: sipi_mobile
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  http: ^1.6.0
  shared_preferences: ^2.5.4
  dio: ^5.4.0
  get_storage: ^2.1.1 # Untuk menyimpan token secara lokal
  file_picker: ^8.0.0 # Untuk PDF Modul
  image_picker: ^1.0.7 # Untuk Gambar Kuis

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
